@model Game
@{
    ViewData["Title"] = "Editar";
}

<h1>Editar</h1>

<a asp-action="index">Games</a>

<form asp-action="editar">
    <partial name="_Form" />
    <button class="btn btn-outline-primary">Editar</button>
</form>