@model Game

<div class="mb-3">
    <label asp-for="Title"></label>
    <input asp-for="Title" class="form-control" />
</div>
<div class="mb-3">
    <label asp-for="Developer"></label>
    <input asp-for="Developer" class="form-control" />
</div>
<div class="mb-3">
    <label asp-for="Publisher"></label>
    <input asp-for="Publisher" class="form-control" />
</div>
<div class="mb-3">
    <label asp-for="Category"></label>
    <input asp-for="Category" class="form-control" />
</div>
<div class="mb-3">
    <label asp-for="ReleaseDate"></label>
    <input asp-for="ReleaseDate" class="form-control" />
</div>
<div class="mb-3">
    <label asp-for="Genre"></label>
    <select asp-for="Genre" asp-items="@Html.GetEnumSelectList<Genre>()" class="form-select">
        <option>Selecione</option>
    </select>
</div>
<div class="mb-3">
    <label asp-for="Review"></label>
    <select asp-for="Review" asp-items="@Html.GetEnumSelectList<Review>()" class="form-select">
        <option>Selecione</option>
    </select>
</div>
<div class="mb-3">
    <input asp-for="FreeToPlay" />
    <label asp-for="FreeToPlay"></label>
</div>
