@model Game
@{
    ViewData["Title"] = "Cadastrar";
}

<h1>Cadastrar</h1>

<alert texto="@TempData["mensagem"]"></alert>

<a asp-action="index"><botao texto="Catálogo de Jogos"></botao></a>

<form asp-action="cadastrar">
    <partial name="_Form" />
    <botao></botao>
</form>